
.header{
    background-color:rgb(12, 11, 11);
    padding: 20px;
    text-align: center;
    color:aliceblue
}
.body{
    color:aliceblue;
    text-align: center;
    height: 800px;
    weight:1000px;
    background-image:url('../asserts/cover.jpg');
    padding: 80px;
    margin: 0px;
}
.footer{
    background-color:rgb(12, 11, 11);
    padding: 20px;
    text-align: center;
    color:aliceblue
}